version: '3.3'
services:
  tagd-ret-api:
    &tagd-ret-api
    volumes:
      - '../../../packages/core:/packages/core'
  tagd-ret-api-queue:
    &tagd-ret-api
    volumes:
      - '../../../packages/core:/packages/core'